<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=DM+Sans:wght@400;500;700&display=swap"
          rel="stylesheet">

    <!-- Ahrefs Analytics -->
</head>
<body>
{% include navigation.html %}

{{ content }}

{% include footer.html %}
</body>

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://analytics.ahrefs.com/analytics.js" data-key="fYwC53lNoWsYnFcydM1JNw" async></script>
<script src="https://cdn.usefathom.com/script.js" data-site="NBGFDAWZ" defer></script>
<!-- / Fathom -->

</html>